<h6>
<%= t("helpers.labels.accept_terms") %>
<%=  link_to t('.termsofservice', :default => t("helpers.labels.termsofservice")), terms_path, :class => 'decorated_link'  %>
<%= t("helpers.labels.and")  %>
<%= link_to t('.privacypolicy', :default => t("helpers.labels.privacypolicy")), privacy_path, :class => 'decorated_link'  %>
</h6>
