<div class="row">
  <div class="span3">
    <div id="image">
      <%= image_tag current_user.company.logo.url(:square) %>
    </div>

  </div>
  <div class="span3">
    <%= form_tag upload_logo_path, method: :patch, id: 'company-logo-form', remote: true, html: { multipart: true } do %>
      <%= file_field_tag :logo, accept: 'image/png,image/gif,image/jpeg, image/jpg', id: 'uploadLogo' %>
      <div style="display: none;">
        <%= submit_tag 'Submit Logo', id: 'submitLogo', class: 'btn btn-default' %>
      </div>
    <% end %>

  </div>
</div>

