<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>

<input type="hidden" id="subscribe_year" name="subscribe_year" ajax_path=<%= subscribe_year_path() %> >
<input type="hidden" id="subscribe_month" name="subscribe_month" ajax_path=<%= subscribe_month_path() %> >

<script type="text/javascript">
function execute_month_onreturn (json) {
  if (json.collection_status=='approved'){
	$.ajax({
	  url: $('#subscribe_month').attr('ajax_path'),
	  data: { },
	  async: true,
	  dataType: 'script'
	});
    alerta ('Pago de un mes acreditado');
  } else if(json.collection_status=='pending'){
    alerta ('El usuario no completó el pago');
  } else if(json.collection_status=='in_process'){
    alerta ('El pago está siendo revisado');
  } else if(json.collection_status=='rejected'){
    alerta ('El pago fué rechazado, el usuario puede intentar nuevamente el pago');
  } else if(json.collection_status==null){
    alerta ('El usuario no completó el proceso de pago de un mes, no se ha generado ningún pago');
  }
}
function execute_year_onreturn (json) {
  if (json.collection_status=='approved'){
	$.ajax({
	  url: $('#subscribe_year').attr('ajax_path'),
	  data: { },
	  async: true,
	  dataType: 'script'
	});
    alerta ('Pago de un año acreditado');
  } else if(json.collection_status=='pending'){
    alerta ('El usuario no completó el pago');
  } else if(json.collection_status=='in_process'){
    alerta ('El pago está siendo revisado');
  } else if(json.collection_status=='rejected'){
    alerta ('El pago fué rechazado, el usuario puede intentar nuevamente el pago');
  } else if(json.collection_status==null){
    alerta ('El usuario no completó el proceso de pago de un año, no se ha generado ningún pago');
  }
}
function alerta (msg) {
	$.ajax({
	  url: $('#subscribe_alert').attr('ajax_path'),
	  data: { msg : msg },
	  async: true,
	  dataType: 'script'
	});
}
</script>


<div class="span5" id="formatsPlace">
  <%= render 'subscription' %>
</div>
