

$myWhite: #ffffff;
$myBlack: #000000;

/* colors */
$navbarBackground: $myBlack;
$navbarBackgroundHighlight: lighten($navbarBackground, 10);
$navbarLinkColor: darken($myWhite, 10); 
$navbarLinkColorHover: $myWhite; 
$bodyBackground: #000;

// Use Twitter Bootstrap
@import 'bootstrap';
@import "bootstrap-responsive";

body {
  background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0 0 40px; /* bottom = footer height */
}

/* styles for layout */
html
{
  height: 100%;
  position: relative;
}
 
#wrap
{
  min-height: 100%;
}
 
.footer {
  /* .push must be the same height as footer */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    opacity: 1; // Leave this as 1
    background: rgba(0,0,0,.15);
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
 
